/* Main.module.css */

.main1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left:30%;
  }
  
  .l1 {
    display: flex;
    /* justify-content: center; */
  }
  
  .l2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    justify-content: center;
  }
  .e1 {
    width: 150px; /* Adjust width as needed */
    height: 50px; /* Adjust height as needed */
  }
  .parts{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
  .l{
    height: 30px;
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-bottom:10px;
    margin-left:.8%;
  }
  .ln{
    margin-top:10px;
    height:40px;
    width:100px;
    margin-left:76%;
    background-color: #0b0a0a;
    color:white;
    border: none;
    border-radius: 5px;
  }
  .l_img{
    margin-left:120px;
    mix-blend-mode:color-burn;
  }
